body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

/* .wrapper {
  background-color: orange;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.btn {
  background-color: blue;
  color: white;
  padding: 5px;
} */